extends ../layout/index.pug
block titulo
  main.container.mt-5
    .row
      .col-md-5
        img(src="/public/img/nosotros.jpg", alt="imagen de nosotros", class="img-fluid")
      .col-md-7
        h1.text-center #{pagina}
        blockquote Maecenas ac tellus felis. Nunc vel fermentum velit. Phasellus tincidunt nisi quis eros ultrices feugiat. Aliquam a diam nulla. Proin ut eros massa. Vivamus eros ligula, gravida at lobortis nec, viverra in elit. Ut sed eleifend orci, ut auctor turpis. Pellentesque ac ornare velit. Mauris ac varius justo. Nam tincidunt lectus a efficitur consectetur.

        p Aliquam ante turpis, scelerisque a mauris eu, ultricies finibus ipsum. Donec ante turpis, sagittis et sem porta, dapibus maximus libero. Fusce ultrices semper nibh, nec fringilla urna porttitor nec. Cras lacinia magna a sapien fermentum accumsan. Pellentesque rutrum odio sit amet volutpat congue
        p
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="/public/img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
          h4.mb-4 Seguridad
          p Nulla ac laoreet quam. Aliquam semper elit at egestas scelerisque
        
        .col-md-4
          img(src="/public/img/icono_destinos.svg", alt="destino", class="img-fluid mb-4")
          h4.mb-4 Mejores destinos
          p Nulla ac laoreet quam. Aliquam semper elit at egestas scelerisque


        .col-md-4
          img(src="/public/img/icono_precios.svg", alt="precio", class="img-fluid mb-4")
          h4.mb-4 Mejor precio
          p Nulla ac laoreet quam. Aliquam semper elit at egestas scelerisque


